extends ../template/default

block content
  p Welcome, #{name},

  p.
    You're now registered in the WeShareAShare platform.
    You can now fill the onboarding forms and then support our available causes.

  p
    div Name: #{name}
    div Email: #{email}

  p Thank you again for your registration. If you have any questions, please feel free to contact us!
