extends ../template/default

block content
  p Caro #{name},
  p Bem-vindo! O seu registo foi efectuado com sucesso.
  p Poderá agora conhecer melhor o PPR SGF Stoik Ações e o nosso projecto de impacto WeShareAShare.

  p
  | Se tiver alguma questão, contacte-nos em
  | <a href="mailto:info@stoikcapital.com">info@stoikcapital.com</a>
  | ou
  | <a href="mailto:info@weshareashare.org">info@weshareashare.org</a>
  |!


  p Obrigado,
