extends template/default

block content
  p Welcome, #{user.username},

  p.
    You're now registered in the WeShareAShare platform.
    You can now fill the onboarding forms and then support our available causes.

  p
    div Username: #{user.username}
    div Email: #{user.email}

  p Thank you again for your registration. If you have any questions, please feel free to contact us!
